.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item1 {
  align-self: flex-start;
}

.item2, .item4 {
  align-self: center;
}

.item5 {
  align-self: flex-end;
}